[Desktop Entry]
Version=1.0

Name=Backup Monitor
Comment=Schedules backups at regular intervals

Icon=org.gnome.DejaDup

Exec=/usr/lib/deja-dup/deja-dup-monitor

X-GNOME-Autostart-Delay=120
X-GNOME-AutoRestart=true

StartupNotify=false
NoDisplay=true

Type=Application
Categories=Utility;Archiving;
